numpy~=1.19.5
pytest~=6.2.1
rule~=0.1.2
sklearn~=0.0
scikit-learn~=0.24.1
scipy~=1.6.0
pathlib~=1.0.1
setuptools~=52.0.0
ruleskit~=0.1.67
joblib~=1.0.0
matplotlib~=3.3.3
tqdm~=4.59.0
pandas~=1.2.3
seaborn~=0.11.1